.form{
    margin: 0 auto;
    width: 80vw;
    border: 3px dotted white;
}

.edit-input {
    border-radius: .5em;
    width: 12em;
    height: 2em;
    margin: .5em ;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;    
    padding: -1em;   
    color:black;
}

form {
    display: flex;
    flex-direction: row;
}
.note-input {
    width: 20vw;
    height: 10vw;
    border-radius: 1em;
}

label {
    color: white;
    margin: 0 1em;
}

.position-at-company {
    color: white;
}


.label-input-box {
    display: flex;
    flex-direction: column;
    border: 3px dotted rgb(226, 27, 209);
}

.row-1 {
    display: flex;
    flex-direction: row;
    margin:1em;

}
.row-2 {
    display: flex;
    flex-direction: row;
            margin:1em;


}
.row-3 {
    display: flex;
    flex-direction: row;
        margin:1em;

}

.notes-and-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dotted white;
    width: 100%;
}

.input-container {
      border: 2px dotted white;
  
}