@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200;700&family=Roboto:wght@500&display=swap');

.register-slip {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: auto;
}

.login-input {
    border-radius: 3em;
    width: 30em;
    height: 3em;
    margin: 2em 0;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;    
    padding: -1em;   
    color:black;
}

.login-title {
    color: white;
}

.login-button {
    color: white;
    background-color: rgb(255, 0, 128);
    border-radius: 3em;
    font-family: 'Oswald', sans-serif;    
    font-weight:bold;
    font-size: 1.5em;
    padding: .25em .75em;
    margin: auto;
    padding: .25em 3em;
}

::placeholder {
    color: grey;
    font-size: 1.5em;
    margin: auto;
    text-align: center;
}

.input-wrapper {
display:flex;
flex-direction: column;
margin: 0 auto;
}

.login-title {
    margin: 0 auto;
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    margin: auto;
}