@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200;700&family=Roboto:wght@500&display=swap');


.login-input {
    border-radius: 3em;
    width: 30em;
    height: 3em;
    margin: 2em 0;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;    
    padding: -1em;   
    color:black;
    
}

.login-title {
    color: white;
}

.login-button {
    border: 3px solid transparent;
    border-radius: 3em;
    transition: 0.3s;
    font-weight:bold;
    color: white;
    background-color: rgb(255, 0, 128);
    font-family: 'Oswald', sans-serif;    
    font-weight:bold;
    font-size: 1.5em;
    margin: auto;
    padding: .25em 3em;

}

.login-button:hover {
    background-color: white;
    color: black;
}

::placeholder {
    color: grey;
    font-size: 1.5em;
    margin: auto;
    text-align: center;
}

.input-wrapper {
    display:flex;
    flex-direction: column;
    margin: 0 auto;
}

.login-title {
    margin: 0 auto;
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    margin: auto;
}

.register-slip {
    margin: auto;

}
