@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200&display=swap');

nav{
    display: flex;
    align-items: center;
    height: 2em;
    font-size: 2em;
    font-weight: bold;
    justify-content: space-between;
    width: 100vw;
    text-decoration: none;
    padding: .5em 0 1em 0;

}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color:rgb(255, 0, 128);
}

.logo {
    font-family: 'Lobster', cursive;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 .5em;
}

.nav-right {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;    
    color: white;
    font-size: 1em;
    margin: 0 .5em;
    display:flex;
    justify-content: space-between;
    width: 10em;
    padding: 0 .5em;
}

.transform:hover {
    transform: scale(1.2);
}